.account {

    .accountBox {
      width: 100%;
      text-decoration: none;
      color: white;
      list-style-type: none;
      border-bottom: 1px solid white;
      padding-left: 5px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
}
