.isBoxType {
     padding: 10px;
     border: 1px solid white;
     border-radius: 5px;
     width: 60px;
      display: flex;
      text-align: center;
     margin-left: 15px;
   }
   .boxType { 
      padding: 10px;      border-radius: 5px;
     background: white;
     margin-left: 15px;
     color: black;
     width: 60px;
     display: flex;
     text-align: center;
   }