  .profile {
    padding-top: 50px;
    display: flex;
    flex-direction: column;


    .userDetail {
    display: flex;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
    .userDetail img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
   .userDetail .userInfo {
    padding-left: 25px;
    color: white;
  }
    .userDetail1 {
      display: flex;
      padding: 15px;
      color: white;
      text-decoration: none;
    }
      .userDetail1 img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }
     .userDetail1 .userInfo1 {
      padding-left: 25px;
      color: white;
       h2 {
           overflow: hidden;
           white-space: nowrap; 
    text-overflow: ellipsis;
           width: 100%;
       }
    }
    playlistList1 {
      height: 100vh;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
  .search1{
      display:flex;

      background-color: black;
     height: 35px;
    margin-top: 10px;
     padding: 10px 10px;
      border-radius: 20px;

      width: 90%;
    margin-left: 15px;
  }
  .search1 img {
    width: 30px;


  }
  .search1 input{
      background: black;
      padding: 3px;
      border: 0;
      outline: 0;
      color: white;

      font-size: 18px;
      height: 35px;
  }
    .buttonSearch {
    height: 30px;
    background: black;
    outline: none;
    border: none;
      border-left: 1px solid white;
  }

  }
  @media only screen and (min-width: 650px) {
    .dropdownmenu10 { left: 500px;
    }
  }
  .dropdownmenu10{
    position: absolute;
    top: 295px;
    left: 70px;
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 170px;
    padding: 10px;
    border-radius: 15px;
    z-index: 10;
  }
  .dropdownmenu10::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
  }
  .dropdownmenu10.active10 {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(0);
  }
  .dropdownmenu10.deactive10{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(-20px);
  }
  .dropdownmenu10 ul li{
    padding: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
  }
  .dropdownmenu10 ul li:hover{
    cursor: pointer;
    color: purple;
  }
  .dropdownmenu10 ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  .menu-item10 {
    flex-direction: column;
  }
  .dropdownitem10{
    display: flex;
    margin: 5px auto;
    border-radius: 10px;

    font-weight: 400;
    text-decoration: none;
    z-index: 1000000000;
  }
  .dropdownitem10:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background: blue;
  }

  .dropdownmenu10 .dropdownitem10 img {
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-right: 5px;
    obacity: 0.5;
    transition: 0.5s;
  }
  .dropdownitem10 .link10{
    font-size: 20px;
    margin-left: 10px;
    transition: 0.5s;
    text-decoration: none;
    color: white;

  }
  .removeButton {
    outline: none; 
    transition: 0.3s;
    border: 1px solid white; 
    height: 40px;
    width: 95px;
    border-radius: 5px;
    background: #212122;
    color: white;
  }
  .removeButton:hover {
    border: none;
    background: black;

  }
