.category {
 
  
  .categoryBox {
    display: flex;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .categoryBox:hover {
    background: #32cd32;
  }
}