.createMusic{
 display: flex;
  flex-direction: column;
  justify-content: center;

padding-bottom: 105px;
  

   .file-upload {
      text-align: center;
      border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
      padding-right: 50px;
      padding-left: 50px;
      position: relative;
      cursor: pointer;
    }
    .file-upload p {
      font-size: 0.87rem;
      margin-top: 10px;
      color: #bbcada;
    }

.file-upload input {
  display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
}
input{

  border: 1px solid white;
  width: 100%;
  height: 50px;
  padding-left: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
}
img {
  margin-top: 0px;
  border-radius: 23px;
  background-image: cover;
  width: 250px;
  height: 250px;
}
  .btn-submit {
  width: 100%;
  height: 60px;
  border: none;
  background: #32CD32;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
  }
  .btn-submit:hover {
    background: #212122;
    border: 1px solid #32CD32;
  }
  .createProduct .productInfo img {
    margin-top: 0px;
    border-radius: 5px;
    background-image: cover;
    width: 250px;
    height: 250px;
  }
  .audio-preview {
  margin-top: 20px;
  padding: 15px;
  background: #111;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
  audio {
    width: 100%;
    margin-top: 10px;
  }
}

.audioInput {
  margin-top: 10px;
  color: white;
}
}