@font-face {
  font-family: Inter;
  src: url("./interBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url("./inter.ttf");
  font-weight: 200;
}
.musicDetail {
    font-family: Inter !important;
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  .ngheNhac {
    border: none;
    outline: none; 
    width: 100%;
    height: 55px;
    border-radius: 20px;
    background: #90EE90;
    color: black;
  }
  
.infoBox {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.heart {
  padding-right: 15px;
  p {
   font-size: 25px;
  }
  
}
 
  .userDetail {
  display: flex;
  padding: 15px;
  text-decoration: none;
}
  .userDetail img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
 .userDetail .userInfo {
  padding-left: 25px;
  color: white;
}
 
}
@media only screen and (max-width: 600px) {
  .musicDetail {
    text-align: center;
  
  }
}