.profile {
  padding-top: 50px;




  .userDetail {
  display: flex;
  padding: 15px;
  text-decoration: none;
}
  .userDetail img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
 .userDetail .userInfo {
  padding-left: 25px;
  color: white;
}
  .playlistList {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    width: 100%;
    .playlistBox {
      width: 200px;
      flex: 0 0 auto;
      display: flex;
      padding: 5px;
      height: 280px;
      flex-direction: column;
      text-decoration: none;
      color: white;
      background: black;
      border-radius: 10px;
      margin-right: 15px;
      h2 {
        overflow: hidden;
         white-space: nowrap; 
  text-overflow: ellipsis;
         width: 100%;
      }
      img {
        width: 100%;
        height: 170px;
        border-radius: 10px;
      }
    }
    
  }
  .titleTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .all{
  border-radius: 15px;
  padding: 10px;

  background: #212122;
  color: white;
  width: 120px;
  height: 50px;
  font-weight: 500;
  border: none;
  }
  
}

 
}

