.playlistUser {
  padding-bottom: 100px;
}
.playlistBox1 {
     width: 100%;
      flex: 0 0 auto;
      display: flex;
      padding: 5px;
     margin-top: 40px;
      height: 280px;
      flex-direction: column;
      text-decoration: none;
      color: white;
      background: black;
      border-radius: 10px;
      margin-right: 15px;
      h2 {
        overflow: hidden;
         white-space: nowrap; 
  text-overflow: ellipsis;
         width: 100%;
      }
      img {
        width: 100%;
        height: 170px;
        border-radius: 10px;
      }
}